The dataset contains transactions made by credit cards ,This dataset presents transactions that occurred in two days, where we have 492 frauds out of 284,807 transactions. The dataset is highly unbalanced, the positive class (frauds) account for 0.172% of all transactions.

In [78]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [5]:
df = pd.read_csv('/Users/shero/Downloads/archive/creditcard.csv')

In [7]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [9]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [11]:
#legit transactions & fraudulent transactions
df["Class"].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [14]:
# 0 --> Normal Transaction
# 1 --> fraudulent transaction
legit = df[df.Class == 0]
fraud = df[df.Class == 1]

In [15]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [16]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [17]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [18]:
df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [19]:
# Build a sample dataset containing similar distribution of normal transactions and Fraudulent Transactions
legit_New = legit.sample(n = 492)

In [20]:
legit_New

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
118562,75128.0,-2.124739,-0.223214,1.229792,1.522501,0.164561,-0.414794,0.158422,0.450432,-0.784594,...,0.191633,0.293595,0.117199,0.081965,0.408807,-0.121594,-0.097090,-0.046619,120.00,0
83724,60000.0,1.152487,-1.813254,0.463887,-1.418128,-1.784610,0.176909,-1.402787,0.258214,-1.507780,...,0.059170,0.142852,-0.124665,-0.358630,0.150673,-0.079009,0.021625,0.030916,158.00,0
208409,137109.0,2.044031,-1.224803,-0.420676,-0.810465,-1.386693,-0.731982,-1.062008,-0.026953,0.292783,...,0.069337,-0.008815,0.314740,-0.228787,-0.571438,-0.417298,-0.001926,-0.033189,70.00,0
83010,59652.0,1.326090,-0.907686,1.079518,-0.614340,-1.504667,0.075941,-1.326046,0.258336,-0.079256,...,0.137540,0.427262,-0.056256,0.004253,0.342668,-0.190114,0.043491,0.011805,10.20,0
225859,144428.0,-1.600895,-2.977734,-2.304795,-1.439848,-1.093432,-0.141620,4.308030,-0.896223,-2.055737,...,0.599069,0.602065,2.002181,-0.428819,-0.176219,1.405717,-0.436947,0.034943,943.80,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8200,11050.0,1.261991,-0.038397,0.558283,0.012722,-0.333839,-0.032646,-0.525371,-0.029765,1.464527,...,-0.063832,0.067319,-0.135751,-0.467572,0.302383,1.063583,-0.091303,-0.011781,15.95,0
105175,69394.0,1.064630,-0.272178,0.744352,1.349040,-0.040236,1.614714,-0.567454,0.450953,0.944825,...,-0.413865,-0.768865,-0.107540,-1.130239,0.568315,-0.459958,0.086035,0.013312,39.00,0
161754,114492.0,1.899026,-0.477586,-1.758503,0.460010,2.082227,4.162538,-0.872014,1.079933,1.022104,...,-0.519825,-1.341204,0.467773,0.617042,-0.286118,-1.085590,0.071810,-0.034802,18.99,0
120617,75892.0,0.683516,-0.335798,-0.018075,-1.889571,0.112134,-0.240116,0.176564,-0.448623,-2.786081,...,-0.052370,0.497961,-0.095157,-0.810235,-0.796139,-0.196475,0.037294,-0.078550,15.00,0
245987,152993.0,1.816852,-1.535749,0.550530,1.014140,-1.543392,1.488819,-1.837585,0.495968,1.385638,...,-0.223728,0.187000,0.114624,0.251749,-0.208406,-0.483602,0.141892,0.003849,94.71,0

In [26]:
New_data = pd.concat([legit_New , fraud] , axis = 0 )
New_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
118562,75128.0,-2.124739,-0.223214,1.229792,1.522501,0.164561,-0.414794,0.158422,0.450432,-0.784594,...,0.191633,0.293595,0.117199,0.081965,0.408807,-0.121594,-0.097090,-0.046619,120.0,0
83724,60000.0,1.152487,-1.813254,0.463887,-1.418128,-1.784610,0.176909,-1.402787,0.258214,-1.507780,...,0.059170,0.142852,-0.124665,-0.358630,0.150673,-0.079009,0.021625,0.030916,158.0,0
208409,137109.0,2.044031,-1.224803,-0.420676,-0.810465,-1.386693,-0.731982,-1.062008,-0.026953,0.292783,...,0.069337,-0.008815,0.314740,-0.228787,-0.571438,-0.417298,-0.001926,-0.033189,70.0,0
83010,59652.0,1.326090,-0.907686,1.079518,-0.614340,-1.504667,0.075941,-1.326046,0.258336,-0.079256,...,0.137540,0.427262,-0.056256,0.004253,0.342668,-0.190114,0.043491,0.011805,10.2,0
225859,144428.0,-1.600895,-2.977734,-2.304795,-1.439848,-1.093432,-0.141620,4.308030,-0.896223,-2.055737,...,0.599069,0.602065,2.002181,-0.428819,-0.176219,1.405717,-0.436947,0.034943,943.8,0

In [48]:
X = New_data.drop(columns = "Class" , axis = 1)
Y = New_data['Class']

In [55]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
118562   75128.0 -2.124739 -0.223214  1.229792  1.522501  0.164561 -0.414794
83724    60000.0  1.152487 -1.813254  0.463887 -1.418128 -1.784610  0.176909
208409  137109.0  2.044031 -1.224803 -0.420676 -0.810465 -1.386693 -0.731982
83010    59652.0  1.326090 -0.907686  1.079518 -0.614340 -1.504667  0.075941
225859  144428.0 -1.600895 -2.977734 -2.304795 -1.439848 -1.093432 -0.141620
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
118562  0.158422  0.450432 -0.784594  ...  0.047427  0.191633  0.293595
83724  -1.402787  0.258214 -1.507780  ... -0.178944  0.059170  0.142852
208409 -1.062008 -0.026953  0.292783  ... -0.001762  0.069337 -0.008815
83010  -1.326046  0.258336 -0.079256  ...  0.026256  0.137540  0.427262
225859  4.308030 -0.896223 -2.055737  ...  1.638046  0.599069  0.602065
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
118562  0.117199  0.081965  0.408807 -0.121594 -0.097090 -0.046619  120.00
83724  -0.124665 -0.358630  0.150673 -0.079009  0.021625  0.030916  158.00
208409  0.314740 -0.228787 -0.571438 -0.417298 -0.001926 -0.033189   70.00
83010  -0.056256  0.004253  0.342668 -0.190114  0.043491  0.011805   10.20
225859  2.002181 -0.428819 -0.176219  1.405717 -0.436947  0.034943  943.80
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [52]:
print(Y)

118562    0
83724     0
208409    0
83010     0
225859    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [49]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [56]:
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

In [75]:
clf=LogisticRegression(random_state=0)
clf.fit(X_train, Y_train)

C:\Users\shero\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=0)

In [76]:
clf.score(X_train, Y_train)

0.9491740787801779

In [77]:
clf.score(X_test, Y_test)

0.9390862944162437